* {
    box-sizing: border-box;
}

html, 
body,
#root {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c1ef;

    .main-container {
        min-width: 600px;
        height: 400px;
        border: 1px solid #999;
        border-radius: 3px;
        display: flex;
        flex-direction: column;

        .top-section {
            flex: 0 0 50%;
        }

        .bottom-section {
            flex: 0 0 50%;
        }
    }    
}
